<!DOCTYPE html>
<head>
    <title>Timetable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<style>
  body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
  background-size:cover;
  background-position:center;
    }
    h1{
      color: white;
    }
</style>
<body>
    <div class="text-center">
        <h1 class="text-white p-4" style="text-decoration: underline;">IT Second Year General</h1>
        </div>
            <table  class="table table-bordered" style="margin-top: 60px;">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">8.30-9:20</th>
          <th scope="col">9:20-10:10</th>
          <th scope="col">10.10-10.20</th>
          <th scope="col">10.30-11.20</th>
          <th scope="col">11.20-12.10</th>
          <th scope="col">12.10-1.00</th>
          <th scope="col">1-1.50</th>
          <th scope="col">1.50-2.40</th>
          <th scope="col">2.40-3.30</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Monday</th>
          <td>EMA51007</td>
          <td>EIT51006</td>
          <td>Break</td>
          <td>NE</td>
          <td>NE</td>
          <td>Lunch</td>
          <td>GGE51034</td>
          <td>EIT51005</td>
          <td>EIT51007</td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td>NE</td>
          <td>NE</td>
          <td>Break</td>
          <td>EIT51007/EIT51802</td>
          <td>EIT51007/EIT51802</td>
          <td>Lunch</td>
          <td>EIT51005</td>
          <td>EMA51007</td>
          <td>GGE51034</td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td>EIT51802/EIT51007</td>
          <td>EIT51802/EIT51007</td>
          <td>Break</td>
          <td>EIT51508/EIT51510</td>
          <td>EIT51508/EIT51510</td>
          <td>Lunch</td>
          <td>EIT51508/EIT51510</td>
          <td>EMA51007</td>
          <td>EIT51508/EIT51510</td>
        </tr>
         <tr>
          <th scope="row">Thursday</th>
          <td>GLS51004</td>
          <td>EIT51005/EIT51006</td>
          <td>Break</td>
          <td>EIT51005/EIT51006</td>
          <td>EMA51007</td>
          <td>Lunch</td>
          <td>EIT51005</td>
          <td>Library</td>
          <td>EIT51007</td>
        </tr>
         <tr>
          <th scope="row">Friday</th>
          <td>GGE51034</td>
          <td>GLS51004</td>
          <td>Break</td>
          <td>EIT51006/EIT51005</td>
          <td>EIT51006/EIT51005</td>
          <td>Lunch</td>
          <td>EMA51007</td>
          <td>Mentor</td>
          <td>EIT51006</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
        <h1 class="text-white p-4" style="text-decoration: underline;">Faculties Incharge</h1>
        </div>
    
    <table  class="table table-bordered" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">S. No</th>
          <th scope="col">Course Code</th>
          <th scope="col">Name of Course</th>
          <th scope="col">Faculty Name</th>
          <th scope="col">Faculty Code</th>
          </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>EMA51007</td>
          <td>Probablity and Statistics</td>
          <td>Dr. Ahima Emilet</td>
          <td>SHM36</td>
            </tr>
            <tr>
          <th scope="row">2</th>
          <td>GLS51004</td>
          <td>Professional Editing and Project Writing</td>
          <td>Dr. Hussaini Irfan</td>
          <td>SHL48</td>
            </tr>
            <tr>
          <th scope="row">3</th>
          <td>EIT51005</td>
          <td>Database Technologies</td>
          <td>Dr.B.Thanikaivel</td>
          <td>ITT92</td>
            </tr>
            <tr>
          <th scope="row">4</th>
          <td>EIT51006</td>
          <td>Java and Web Programming</td>
          <td>Mr.Selvakrishnan</td>
          <td>ITT90</td>
            </tr>
            <tr>
          <th scope="row">5</th>
          <td>EIT51007</td>
          <td>Industry Collaborated Course-Introduction to Devops</td>
          <td>Mrs.G.Maheswari</td>
          <td>ITT86</td>
            </tr>
            <tr>
          <th scope="row">6</th>
          <td>EIT51508/EIT51510</td>
          <td>Decision Modeling/Agile Software Development</td>
          <td>Mrs.G.Maheswari/Dr.Suresh Babu</td>
          <td>ITP01/ITT86</td>
            </tr>             
            <tr>
          <th scope="row">7</th>
          <td>GGE51034</td>
          <td>Industrial Management</td>
          <td>Dr.P.Loganathan</td>
          <td>AUT91</td>
            </tr>         
      </tbody>
    </table>
    
    <div class="text-center">
        <h1 class="text-white p-4" style="text-decoration: underline;">IT Third Year General</h1>
        </div>
    
            <table  class="table table-bordered" style="margin-top: 60px;">
      <thead>
        <tr>
          <th scope="col">DAY</th>
          <th scope="col">8:30-9:20</th>
          <th scope="col">9:20-10:10</th>
          <th scope="col">10:10-10:30</th>
          <th scope="col">10:30-11:20</th>
          <th scope="col">11:20-12:10</th>
          <th scope="col">12:10-1:00</th>
          <th scope="col">1:00-1:50</th>
          <th scope="col">1:50-2:40</th>
          <th scope="col">2:40-3:30</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Monday</th>
          <td>NE</td>
          <td>ITB4316</td>
          <td>Break</td>
          <td>ITC4368/ITC4370</td>
          <td>SEMINAR</td>
          <td>Lunch</td>
          <td>ITB4343</td>
          <td>ITB4343</td>
          <td>ITB4343</td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td>ITB4317</td>
          <td>GEA4304</td>
          <td>Break</td>
          <td>NE</td>
          <td>NE</td>
          <td>Lunch</td>
          <td>ITB4341/ITB4342</td>
          <td>ITB4341/ITB4342</td>
          <td>ITB4341/ITB4342</td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td>GEA4304</td>
          <td>ITB4318</td>
          <td>Break</td>
          <td>MENTOR</td>
          <td>ITB4317</td>
          <td>Lunch</td>
          <td>ITB4316</td>
          <td>ITB4318</td>
          <td>ITB4316</td>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
          <td>ITB4316</td>
          <td>ITB4318</td>
          <td>Break</td>
          <td>ITC4368/ITC4370</td>
          <td>ITC4368/ITB4370</td>
          <td>Lunch</td>
          <td>ITB4342/ITB4341</td>
          <td>ITB4342/ITB4341</td>
          <td>ITB4342/ITB4341</td>
        </tr>
        <tr>
          <th scope="row">Friday</th>
          <td>ITB4318</td>
          <td>ITB4317</td>
          <td>Break</td>
          <td>GEA4304</td>
          <td>LIB</td>
          <td>Lunch</td>
          <td>ITB4317</td>
          <td>ITB4316</td>
          <td>ITB4318</td>
        </tr>
        
      </tbody>
    </table>
    
    <div class="text-center">
        <h1 class="text-white p-4" style="text-decoration: underline;">Faculties Incharge</h1>
        </div>
    
    <table  class="table table-bordered" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="row">1</th>
          <td>ITB4316</td>
          <td>Object Oriented Analysis and Design</td>
          <td>Mr.Julian Menezes.R</td>
          <td>ITT83</td>
            </tr>
            <tr>
          <th scope="row">2</th>
          <td>ITB4317</td>
          <td>Networks and Iformation Security</td>
          <td>Dr.Gopalakrishnan</td>
          <td>ITT90</td>
            </tr>
            <tr>
          <th scope="row">3</th>
          <td>ITB4318</td>
          <td>Machine Learning</td>
          <td>Dr.Amirthayogam</td>
          <td>ITT90</td>
            </tr>
            <tr>
          <th scope="row">3</th>
          <td>GEA4304</td>
          <td>Buisness Economics</td>
          <td>Dr.RS.Nakandhra Kumar</td>
          <td>MET96</td>
            </tr>
            <tr>
          <th scope="row">4</th>
          <td>ITC4368/ITC4370</td>
          <td>IT Security Assessment and Testing/Data Visualization</td>
          <td>Mrs.G.Maheswari/Ms.K.Remya</td>
          <td>ITT86/ITT87</td> 
             </tr>
             <tr>
          <th scope="row">5</th>
          <td>ITB4341</td>
          <td>Machine Learning Lab</td>
          <td>Dr.Amirthayogam</td>
          <td>ITT90</td> 
             </tr>
             <tr>
          <th scope="row">6</th>
          <td>ITB4342</td>
          <td>Networks and Information Security Lab</td>
          <td>Dr.Gopalakrihnan</td>
          <td>ITT89</td> 
             </tr>
             <tr>
             <th scope="row">7</th>
          <td>ITB4343</td>
          <td>Design Project - IV</td>
          <td>Ms.S.Babitha</td>
          <td>ITT93</td> 
             </tr> 
      </tbody>
    </table>
    
    
    <div class="text-center">
        <h1  class="text-white p-4" style="text-decoration: underline;">IT Third year Cyber-security</h1>
        </div>
    
            <table  class="table table-bordered" style="margin-top: 60px;">
      <thead>
        <tr>
          <th scope="col">DAY</th>
          <th scope="col">8.30-9:20</th>
          <th scope="col">9:20-10:10</th>
          <th scope="col">10</th>
          <th scope="col">10.30-11.20</th>
          <th scope="col">11.20-12.10</th>
          <th scope="col">lunch</th>
          <th scope="col">1-1.50</th>
          <th scope="col">1.50-2.40</th>
          <th scope="col">2.40-3.30</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Monday</th>
          <td>NE</td>
          <td>GEA4304</td>
          <td>Break</td>
          <td>IBS4316</td>
          <td>IBS4317</td>
          <td>Lunch</td>
          <td>ITB4317</td>
          <td>ITB4316</td>
          <td>IBS4317</td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td>IBS4316</td>
          <td>IBS4316</td>
          <td>Break</td>
          <td>NE</td>
          <td>NE</td>
          <td>Lunch</td>
          <td>ITB4316</td>
          <td>ITB4317</td>
          <td>GEA4304</td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td>ITB4317</td>
          <td>ITB4318</td>
          <td>Break</td>
          <td>GEA4304</td>
          <td>ITB4316</td>
          <td>Lunch</td>
          <td>ITB4342</td>
          <td>ITB4342</td>
          <td>ITB4342</td>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
          <td>IBS4317</td>
          <td>ITB4316</td>
          <td>Break</td>
          <td>IBS4316</td>
          <td>IBS4316</td>
          <td>Lunch</td>
          <td>ITB4343</td>
          <td>ITB4343</td>
          <td>ITB4343</td>
        </tr>
        <tr>
          <th scope="row">Friday</th>
          <td>ITB4318</td>
          <td>ITB4318</td>
          <td>Break</td>
          <td>ITB4317</td>
          <td>ITB4318</td>
          <td>Lunch</td>
          <td>ITB4341</td>
          <td>ITB4341</td>
          <td>ITB4341</td>
        </tr>
 
      </tbody>
    </table>
    
    <div class="text-center">
        <h1  class="text-white p-4" style="text-decoration: underline;">Faculties Incharge</h1>
        </div>
    
    <table  class="table table-bordered" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">S.NO</th>
          <th scope="col">Course Code</th>
          <th scope="col">Name of Course</th>
          <th scope="col">Faculty Name</th>
          <th scope="col">Faculty Code</th>
          </thead>
      <tbody>
        <tr>
        <th scope="row">1</th>
          <td>ITB4316</td>
          <td>Object Oriented Analysis and Design</td>
          <td>Dr.Sambath</td>
          <td>ITF06</td> 
        </tr>
        <tr>
          <th scope="row">2</th>
            <td>ITB4317</td>
            <td>Networks and Information Security</td>
            <td>Ms.K.Remya</td>
            <td>ITT871</td> 
          </tr>
          <tr>
            <th scope="row">3</th>
              <td>ITB4318</td>
              <td>Machine Learning</td>
              <td>Dr.Suresh Babu</td>
              <td>ITP01</td> 
            </tr>
            <tr>
              <th scope="row">4</th>
                <td>GEA4304</td>
                <td>Buisness Economics</td>
                <td>Dr.M.Ramesh</td>
                <td>LAT54</td> 
              </tr>
              <tr>
                <th scope="row">5</th>
                  <td>IBS4316</td>
                  <td>Digital Forensics</td>
                  <td>Ms.S.Babitha</td>
                  <td>ITT89</td> 
                </tr>
                <tr>
                  <th scope="row">6</th>
                    <td>IBS4317</td>
                    <td>Information Technology Security Evaluation Criteria</td>
                    <td>Dr.Gopalakrishnan</td>
                    <td>ITT89</td> 
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                      <td>ITB4343</td>
                      <td>Design Project-IV</td>
                      <td>Ms.K.Remya</td>
                      <td>ITT87</td> 
                    </tr>
    </html>
</body>